In [19]:
#Dataset Used =====> Graduate Admission Prediction Dataset
#Dataset Link =====> https://www.kaggle.com/mohansacharya/graduate-admissions
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [20]:
#Load Dataset in Panda's DataFrame
dataset = pd.read_csv('Admission_Predict.csv')
dataset.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [21]:
#Relevant Data =====> Data that will be useful in predicting Chance of Admission
#Irrelevant Data =====> Data that will not be useful in predicting Chance of Admission

In [22]:
#Methods to find Irrelevant Data

In [13]:
#Method 1
    #By Knowledge of the Dataset
    
    #It can be seen in the above dataset that Serial No. column will be irrelevant and Chance of Admit can never depend on
    #Serial Number

In [23]:
#Method 2
    #Using Correlation we can find degree of dependency of Chance of Admit on each column
    
dataset.corr()

#Correlation between 2 columns is always in the range[-1,1]
#Any two columns are highly correlated if they have correlation closer to 1 or -1
#As it can be seen that the column Serial No. has correlation of 0.042336 with Chance of Admit thus it can be said
#that Chance of Admit doesn't depend on it and thus Serial No is Irrelevant for prediction

#NOTE===> Irrelevant Columns can also be important like Serial No. Col is important for knowing the identity of candidate
          #while checking Chance of Admit.

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,1.000000,-0.097526,-0.147932,-0.169948,-0.166932,-0.088221,-0.045608,-0.063138,0.042336
GRE Score,-0.097526,1.000000,0.835977,0.668976,0.612831,0.557555,0.833060,0.580391,0.802610
TOEFL Score,-0.147932,0.835977,1.000000,0.695590,0.657981,0.567721,0.828417,0.489858,0.791594
University Rating,-0.169948,0.668976,0.695590,1.000000,0.734523,0.660123,0.746479,0.447783,0.711250
SOP,-0.166932,0.612831,0.657981,0.734523,1.000000,0.729593,0.718144,0.444029,0.675732
LOR,-0.088221,0.557555,0.567721,0.660123,0.729593,1.000000,0.670211,0.396859,0.669889
CGPA,-0.045608,0.833060,0.828417,0.746479,0.718144,0.670211,1.000000,0.521654,0.873289
Research,-0.063138,0.580391,0.489858,0.447783,0.444029,0.396859,0.521654,1.000000,0.553202
Chance of Admit,0.042336,0.802610,0.791594,0.711250,0.675732,0.669889,0.873289,0.553202,1.000000

In [24]:
#How to Remove Irrelevant Data
dataset_train = dataset.drop('Serial No.',axis=1)
dataset_train.head()
#axis=1 tells that whole column should be dropped

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65